/**************************************************\
	H5 手机屏幕自适应参数设置                           
\**************************************************/
@media (min-width: 90px){html{ font-size:2.5px;}}
@media (min-width: 180px){html{ font-size:5px;}}
@media (min-width: 240px){html{ font-size:6.66px;}}
@media (min-width: 270px){html{ font-size:7.5px;}}
@media (min-width: 320px){html{ font-size:10px;}}
@media (min-width: 360px){html{ font-size:12px;}}
@media (min-width: 393px){html{ font-size:12.5px;}}
@media (min-width: 480px){html{ font-size:13.33px;}}
@media (min-width: 540px){html{ font-size:15px;}}
@media (min-width: 720px){html{ font-size:20px;}}
@media (min-width: 900px){html{ font-size:25px;}}
@media (min-width: 1080px){html{ font-size:40px;}}
@media (min-width: 1440px){html{ font-size:50px;}}

/**************************************************\
	页面框架布局                     
\**************************************************/
iframe {
	width: 100%;
	height: 100%;
	border-style: none;
	z-index: 10;	
}

body {
	padding: 0rem;
	margin: 0rem;
	font-family: "iconfont" !important;	
	font-size: 14px;
 	background-color: #EEE;
 	color: #555;
 	border: none;
}

.subform {
	z-index: 10;
	position: absolute;
	
	top: 0rem;
	bottom:  0rem;
	left: 0rem;
	right: 0rem;
	overflow: hidden;
}

.popUpMessage {
	
}

.popup-error {
	z-index: 100;
	position: absolute;
	margin: auto;
	top: 10rem;
	left: 6rem;
	bottom: 10rem;
	right: 6rem;
	background-color: #FFF;
	border-style: solid;
	border-width: 0.3rem;
	border-color: #800;
	border-radius: 0.8rem;
}

.popup-error-title-bar {
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
	
	height: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #800;
}

.popup-error-title {
	font-size: 1.2rem;
	color: #FFF;
}

.popup-error-close-button {
	font-size: 1.2rem;
	color: #FFF;
}

.popup-error-content {
	padding: 1rem;
	height: auto;
	flex-grow: 1;
	overflow-y: auto;
}

.group {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

.group-h {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

.group-h-m {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

/*各行之前、之间、之后都留有空白的容器内*/
.group-h-m-s {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}


.group-h-r {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-end; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

.group-v {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

.group-v-m {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

.group-t {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.rem;
	align-items: flex-start;	
	align-content: flex-start;
	justify-content: flex-start;
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

.group-t-m {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;	
	align-content: center;
	justify-content: center;
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

.space {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	width: 1rem;
	height: 1rem;
	flex-grow: 1;
}

/**************************************************\
	文本内容                     
\**************************************************/

/*	标签 */
.lable {
	z-index: 10;
	width: auto;
	height: auto;
	font-family: "iconfont" !important;
	font-size: 1.1rem;
	color: #777;
	overflow: hidden;
}

/* 正文 */
.content {
	z-index: 10;
	width: auto;
	height: auto;
	font-family: "iconfont" !important;
	font-size: 1.2rem;
	color: #333;
}

/* 备注 */
.note {
	z-index: 10;
	width: auto;
	font-family: "iconfont" !important;
	font-size: 0.9rem;
	color: #777;
}

/* 标题 - 1级*/
.title-1 {
	z-index: 10;
	padding:0rem;
	width: auto;
	height: 1.9rem;
	font-family: "iconfont" !important;
	font-size: 1.3rem;
	font-weight: bold;
	color: #333;
	
}

/* 标题 - 2级*/
.title-2 {
	z-index: 10;
	width: auto;
	height: 1.8rem;
	font-family: "iconfont" !important;
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
	
}

/* 标题 - 3级*/
.title-3 {
	z-index: 10;
	width: auto;
	height: 1.7rem;
	font-family: "iconfont" !important;
	font-size: 1.1rem;
	font-weight: bold;
	color: #333;
}


/**************************************************\
	组件            
\**************************************************/
button {
	z-index: 10;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: auto;
	height: 2rem;
	text-align: center;
 	font-family: "iconfont" !important;	
 	font-size: 1rem;
 	background-color: transparent;
 	border: none;
 	outline:none;
 	outline-color: rgba(255,255,255,0);	
 }

input {
	z-index: 10;
	padding: 0.3rem;
	width: 10rem;
	height: 1.9rem;
	text-align: right; 
	font-size: 1.2rem;
	background-color: #FFF;
}

input[type=number] {  
    -moz-appearance:textfield;  
} 

input[type=number]::-webkit-inner-spin-button,  input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
} 

input::-webkit-input-placeholder {
   color: #CCC;
}

input:-moz-placeholder {
   color: #CCC;
}

input:-ms-input-placeholder {
   color: #CCC;
}

.input-date {
	z-index: 10;
	height: 1.9rem;
	font-size: 1.2rem;
	background-color: transparent;
	text-align: right; 
	justify-content: flex-end;
}

.input-date:focus {
	background-color: transparent;
}

.input-date:active {
	background-color: transparent;
 	-webkit-tap-highlight-color:rgba(255,0,0,0);
}

.input-date::selection{background:transparent; }
.input-date::-moz-selection{background:transparent; }

.input-unit {
	z-index: 10;
	padding: 0.3rem;
	width: auto;
	height: 1.9rem;
	font-size: 1.2rem;
	color: #CCC;
	background-color: #FFF;
	border-style: solid;
	border-width: 0rem 0rem 0.1rem 0rem;
	border-color: #CCC;	
}

.datetime{
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-end; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
	
	height: 1.9rem;
	text-align: right; 
	font-size: 1.2rem;
	background-color: #FFF;
}

.date-year {
	width: 36px;
}

.date-month {
	width: 22px;
}

.date-date {
	width: 22px;
}


.image {
	z-index: 10;
	width: 1.4rem;
	height: 1.4rem;
}

.lookup {
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
	-webkit-align-items: center;
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;

	width: 12rem;
	height: 2.6rem;
	background-color: #FFF;
}

.lookup-input {
	z-index: 10;
	padding: 0.3rem;
	width: 10rem;
	height: 1.9rem;
	font-size: 1.2rem;
	background-color: #FFF;
	flex-grow: 1;
}

.lookup-input:focus { 
    outline: none;
 	background-color: transparent;
}

.lookup-input:active { 
    outline: none;
 	background-color: transparent;
 	-webkit-tap-highlight-color:rgba(255,0,0,0);
}

.lookup-input:hover { 
    outline: none;
 	background-color: transparent;
 	-webkit-tap-highlight-color:rgba(255,0,0,0);
}

.lookup-input::selection{background:transparent; }
.lookup-input::-moz-selection{background:transparent; }

.lookup-btn {
	z-index: 10;
	padding: 0.3rem;
 	font-family: "iconfont" !important;	
 	font-size: 1.2rem;
 	background-color: transparent;
 	color: #666;
	cursor: pointer;
}

.lookup-btn:hover {
	z-index: 10;
	padding: 0.3rem;
 	font-family: "iconfont" !important;	
  	font-size: 1.2rem;
 	background-color: transparent;
 	color: #888;
	cursor: pointer;
}

.lookup-form {
	z-index: 10;
	position: absolute;
	
	top: 1.5rem;
	bottom:  1.5rem;
	left: 1.5rem;
	right: 1.5rem;
	
	border-radius: 1rem;
	overflow: hidden;
}

.text {
	z-index: 10;
	padding: 0.3rem;
	width: 10rem;
	height: 1.9rem;
	font-size: 1.2rem;
	background-color: #FFF;
}

.text:after { 
    outline: none;
 	background-color: #FFF;
 	-webkit-tap-highlight-color:rgba(255,255,255,1);
}

.textarea {
	z-index: 10;
	padding: 0.3rem;
	font-size: 1.2rem;
	background-color: #FFF;
	border: none;
}

.number {
	z-index: 10;
	padding: 0.3rem;
	width: 10rem;
	height: 1.9rem;
	font-size: 1.2rem;
	background-color: #FFF;
}

.date {
	z-index: 10;
	padding: 0.3rem;
	width: 10rem;
	height: 1.9rem;
	font-size: 1.2rem;
	background-color: #FFF;
}

.date:focus { 
    outline: none;
}


listview {
	z-index: 10;
	padding: 0rem;
	margin: 0rem;
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	border: none;
	overflow: hidden;
}

.list-item-normal {
	background-color: #EEE;
	overflow: hidden;
}

.list-item-selected {
	background-color: #E9F6FA;
	overflow: hidden;
}

.list-item-actived {
	background-color: #0074ff;
	overflow: hidden;
}

.eui-loading-view {
	z-index: 10;
	
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.emui-tab-container-h {
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

.emui-tab-container-v {
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
}

.emui-tab-head-h {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
	
	height: 4rem;
	width: 100%;
	background-color: #CCC;
}

.emui-tab-head-v {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
	
	height: 100%;
	width: 6rem;
	background-color: #EEE;
}

.emui-tab-content {
	width: 100%;
	height:100%;
	flex-grow: 1;
	overflow: hidden;
	
	background-color: #FFF;
}

.emui-tab-h {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
	overflow: hidden;
	
	font-size: 1rem;
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 4rem;
	width:auto;
}

.emui-tab-selected-h {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
	overflow: hidden;
	white-space: nowrap;
	
	font-size: 1rem;
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 4rem;
	width:auto;
	background-color: #EEE
	;
}

.emui-tab-v {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
	
	font-weight: bold;
	height: 5rem;
	width: 100%;
}

.emui-tab-selected-v {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	overflow: hidden;
	
	font-weight: bold;
	height: 5rem;
	width: 100%;
	background-color: #FFF;
}

